@model List<SuggestArtists>
@using Microsoft.AspNetCore.Http
@using ArtistPalace.TwitterApi
@inject IHttpContextAccessor ContextAccessor

<link rel="stylesheet" href="~/table.css" />
<link rel="stylesheet" href="~/index.css" />
<link rel="stylesheet" href="~/flag-icon.css" />
<link rel="stylesheet" href="~/flag-icon.min.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="~/index.js" asp-append-version="true"></script>

<div id="navbar">
    <a href="/home"><button id="add-artist-button"><span class="material-icons">arrow_back</span> Home</button></a>
    <a href="/adminpanel"><button id="add-artist-button"><span class="material-icons">admin_panel_settings</span> Admin Panel</button></a>
    <a href="/artists"><button id="add-artist-button"><span class="material-icons">people</span> Artists List</button></a>
</div>

<div class="center-this-div" style="text-align: center">
    <p>Welcome <strong>@ContextAccessor.HttpContext.User.Claims.First().Value</strong> to Admin Panel<br><span style="color: #FF9671">Artists, whose number of followers above 150,000 are rejected</span></p>
</div>

<div id="artists-table-container">
    <table>
        <tr>
            <th class="fill-th-small"><span class="material-icons">account_box</span></th>
            <th class="fill-th">Tag</th>
            <th class="fill-th">Type</th>
            <th class="fill-th">Commissions</th>
            <th class="fill-th">Price</th>
            <th ><span class="material-icons">manage_accounts</span></th>
        </tr>
        @foreach (var artist in Model)
        {
            <tr>
                <td><a href="https://twitter.com/@artist.TwitterTag"><img class="artist-avatar" src="//avatars.charlyx.dev/twitter?username=@artist.TwitterTag"></a></td>
                @*<td><a href="https://twitter.com/@artist.TwitterTag"><img class="artist-avatar" src="@await TwitterHandler.GetAvatar(artist.TwitterTag)"></a></td>*@
                <td>@@@artist.TwitterTag</td>
                <td class="center-this">@artist.Type</td>
                @if (artist.AcceptCommissions == true)
                {
                    <td class="center-this">Accept</td>
                }
                else
                {
                    <td class="center-this">Reject</td>
                }
                @if (artist.PricePerHour != null)
                {
                    <td class="center-this">@artist.PricePerHour$ per/h</td>
                }
                else
                {
                    <td class="center-this">No</td>
                }
                @if (artist.IsAccepted == false && artist.IsRejected == false)
                {
                    <td>
                        <div class="buttons">
                            <form asp-action="Accept">
                                <input type='hidden' value='@artist.TwitterTag' name='_tag'/>
                                <input type='hidden' value='@artist.Type' name='_type'/>
                                <input type='hidden' value='@(artist.AcceptCommissions == true ? "true" : "false")' name='_acceptCommissions'/>
                                <input type='hidden' value='@(artist.PricePerHour != null ? artist.PricePerHour : 0)' name='_pricePerHour'/>
                                <input type="text" value="" name="_country" placeholder="input country" style="background-color: #292b2f" width="100px"/>
                                <button class="flat-button" style="width: 50px">✔</button>
                            </form>
                            <br>
                            <form asp-action="Reject">
                                <input type='hidden' value='@artist.TwitterTag' name='_tag'/>
                                <button class="decline-button" style="width: 50px">✘</button>
                            </form>
                        </div>
                    </td>
                }
                else if (artist.IsRejected == true)
                {
                    <td class="center-this">Rejected</td>
                }
                else
                {
                    <td class="center-this">Reviewed</td>
                }
            </tr>
        }
    </table>
</div>
