@using ArtistPalace.TwitterApi
@model List<Artist>

<link rel="stylesheet" href="~/table.css" />
<link rel="stylesheet" href="~/index.css" />
<link rel="stylesheet" href="~/flag-icon.css" />
<link rel="stylesheet" href="~/flag-icon.min.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<script src="~/index.js" asp-append-version="true"></script>

<div id="navbar">
    <a href="/home/index"><button id="add-artist-button"><span class="material-icons">arrow_back</span> Home</button></a>
    <button id="search-button"><span class="material-icons">person_search</span> Search Artist</button>
    <a href="/home/suggestartists"><button id="add-artist-button"><span class="material-icons">person_add</span> Suggest Artist</button></a>
</div>

<div id="search-container">
    <form method="get">
        <div class="group">
            <label for="search-by-nickname">Artist:</label>
            <input id="search-by-nickname" name="nickName" type="text" placeholder="nickname or @@tag">
        </div>
    
        <div class="group">
            <label for="search-by-type">Type:</label>
            <select id="search-by-type" name="type">
                <option>All</option>
                <option>Pixel Art</option>
                <option>Digital Art</option>
            </select>
        </div>
    
        <div class="group">
            <label for="search-by-country">Country:</label>
            <select id="search-by-country" name="country">
                <option>All</option>
                <option>Russia</option>
            </select>
        </div>
    
        <div class="group">
            <label for="search-by-rank">Rank:</label>
            <select id="search-by-rank" name="rank">
                <option>All</option>
                <option>C</option>
                <option>B</option>
                <option>A</option>
                <option>S</option>
            </select>
        </div>
    
        <div class="group">
            <label for="search-by-commissions">Commissions status:</label>
            <select id="search-by-commissions" name="commissions">
                <option>All</option>
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        
        <div class="group">
            <button class="flat-button">Search</button>
        </div>
    </form>
</div>


<div id="artists-table-container">
    <table class="table sortable">
        <tr>
            <th class="fill-th-small"><span class="material-icons">payments</span></th>
            <th class="fill-th-small"><span class="material-icons">account_box</span></th>
            <th class="fill-th">Artist</th>
            <th class="fill-th">Tag</th>
            <th class="fill-th">Rank</th>
            <th class="fill-th">Followers</th>
            <th class="fill-th">Type</th>
            <th class="fill-th">Country</th>
        </tr>
        @foreach (var artist in Model)
        {
            <tr>
                <td id="commission-container">
                    @if (@artist.AcceptCommissions == true)
                    {
                        <div class="tooltip">
                            <a href="@artist.TwitterLink"><span class="material-icons" style="padding-right: 0px; padding-left: 2px">attach_money</span></a>
                            @if (@artist.PricePerHour == 0)
                            {
                                <span class="tooltiptext">Accept commissions<br></span>
                            }
                            else
                            {
                                <span class="tooltiptext">Accept commissions<br>$ @artist.PricePerHour / hour</span>
                            }
                        </div>
                    }
                </td>
                <td><a href="https://twitter.com/@artist.TwitterTag"><img class="artist-avatar" src="//avatars.charlyx.dev/twitter?username=@artist.TwitterTag"></a></td>
                @*<td><a href="@artist.TwitterLink"><img class="artist-avatar" src="@await TwitterHandler.GetAvatar(artist.TwitterTag)"></a></td>*@
                <td>@artist.Nickname</td>
                <td>@@@artist.TwitterTag</td>
                <td class="center-this"> @if (@artist.Rank == "C")
                                         {
                                             <span style="color: #845EC2; font-weight: bold;">@artist.Rank</span>
                                         }
                                         else if (@artist.Rank == "B")
                                         {
                                             <span style="color: #FF6F91; font-weight: bold;">@artist.Rank</span>
                                         }
                                         else if (@artist.Rank == "A")
                                         {
                                             <span style="color: #FF9671; font-weight: bold;">@artist.Rank</span>
                                         }
                                         else if (@artist.Rank == "S")
                                         {
                                             <span style="color : #FFC75F; font-weight: bold;">@artist.Rank</span>
                                         }</td>
                <td class="center-this">@artist.FollowersCount</td>
                <td class="center-this">@artist.Type</td>
                @if (artist.Country == "Russia")
                {
                    <td class="center-this"><span class="flag-icon flag-icon-ru"></span>@artist.Country</td>
                }
                else if (artist.Country == "Philippines")
                {
                    <td class="center-this"><span class="flag-icon flag-icon-ph"></span>@artist.Country</td>
                }
                else if (artist.Country == "Japan")
                {
                    <td class="center-this"><span class="flag-icon flag-icon-jp"></span>@artist.Country</td>
                }
                else
                {
                    <td class="center-this">@artist.Country</td>
                }
            </tr>
        }
    </table>
</div>

@*<div id="footer">
    <div class="footer-info">
        <p>Suggestions, incorrect information about artist and other: anivire.work@gmail.com<br>List is updated every week.</p>
    </div>
</div>*@